body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 30px;
}
*{
    font-family:'Roboto Condensed', sans-serif !important;
}

header{
    background-color:#DEE1E3;
    height: 50px;
}


header h1{
    color: #2D6893;
    margin-top: 0px;
}

.imagen{
    width: 100%;
   
}


.titulo{
    position: relative;
    top: 10px;
    margin-left: 150px
}

.login{
    text-align: right;
    margin-right: 150px;
    position: relative;
    bottom: 90px;
}

header img{
    width: 40px;
    position:relative;
    bottom: 50px;
    left: 340px;
}

main h2{
    text-align: center;
}

main{
    max-width: 800px;
    margin: 0 auto ;
    padding: 20px;
}

main img{
    max-width: 100%;
}